{# Set up VirtualHosts #}
<VirtualHost {{ item.listen_ip }}:{{ item.listen_port | default(apache_listen_port) }}>
  ServerName {{ item.servername }}
{% if item.serveralias is defined %}
  ServerAlias {{ item.serveralias }}
{% endif %}
{% if item.documentroot is defined %}
  DocumentRoot {{ item.documentroot }}
{% endif %}
{% if item.serveradmin is defined %}
  ServerAdmin {{ item.serveradmin }}
{% endif %}
{% if item.extra_parameters is defined %}
  {% for extra in item.extra_parameters %}
  {{ extra }}
  {% endfor %}
{% endif %}


{% if item.documentroot is defined %}
  <Directory "{{ item.documentroot }}">
    AllowOverride {{ item.allow_override | default(apache_allow_override) }}
    Options {{ item.options | default(apache_options) }}
{% if apache_vhosts_version == "2.2" %}
    Order allow,deny
    Allow from all
{% else %}
    Require all granted
{% endif %}
{% endif %}

{% if item.rewrite is defined %}
  <IfModule mod_rewrite.c>
    RewriteEngine on
    {% for rewrite in item.rewrite_parameters %}
    {{ rewrite }}
    {% endfor %}
  </IfModule>
{% else %}
  <IfModule !mod_rewrite.c>
    DirectoryIndex error_norewrite.html
    ErrorDocument 404 /error_norewrite.html
  </IfModule>
{% endif %}
  </Directory>
</VirtualHost>
